<!-- Main Content Area -->
<div class="container-fluid">
  <div class="row g-0">
    <!-- Header -->
    <app-header></app-header>
    <!-- Sidebar -->
    <div class="col-auto" *ngIf="isDesktop() || !collapsed">
      <app-sidebar
        [collapsed]="collapsed"
        (toggleSidebar)="toggleSidebar()">
      </app-sidebar>
    </div>

    <!-- Main Content -->
    <main class="col min-vh-100 p-3 ms-0 ms-md-5">
      <app-hero-section></app-hero-section>

      <router-outlet></router-outlet>
    </main>

<!--    &lt;!&ndash; Toggle Button (visible always) &ndash;&gt;-->
<!--    <button class="btn btn-sm btn-outline-primary position-fixed"-->
<!--            style="top: 1rem; left: 1rem; z-index: 1050;"-->
<!--            (click)="toggleSidebar()">-->
<!--      <i class="pi" [ngClass]="collapsed ? 'pi-arrow-right' : 'pi-arrow-left'"></i>-->
<!--    </button>-->

    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</div>
